
 <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">《题菊》</h5>
                <p class="grey-text text-lighten-4">心在山东身在吴，飘蓬江海谩嗟吁。</p>
                <p class="grey-text text-lighten-4">他日若遂凌云志，敢笑黄巢不丈夫。</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">作者的其他网站</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://www.chongfer.cn/SpringBase/">SpringBase</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.chongfer.cn/springDemo/">springDemo</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.chongfer.cn/SpringVelocityTiles/">SpringVelocityTiles</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://blog.csdn.net/luchengtao11">作者主页</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            @ 2017 Copyright ChongfeiWang
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>