#tiles_insertTemplate({"template":"template.vm"})
#tiles_putAttribute({"name":"title", "value": "首页"})#end
#tiles_putAttribute({"name":"header"}) #parse("header.vm")
#end #tiles_putAttribute({"name":"body"})
<a href="GoodsManage/showList">商品资料管理</a>
<br>
<a href="CategoryManage/showList">商品品类管理</a>
<br>
<a href="brandManage/showList">商品品牌管理</a>
<br>
<a href="standManage/showList">商品上下架管理</a>
<br>
#end #tiles_putAttribute({"name":"footer"})
#parse("footer.vm") #end #end
