<div>
	<form action="updateOrder">
		<table class="manage">
			<tr>
				<td class="manage_title">订单基本信息</td>
			</tr>
			<tr>
				<td class="manage_left">订单号</td>
				<td class="manage_right">$order.orderSn</td>
				<input type="hidden" name="orderSn" value="$order.orderSn"/>
				<input type="hidden" name="id" value="$order.orderId"/>
			</tr>
			<tr>
				<td class="manage_left">订单状态</td>
				<td class="manage_right">
					<select name="orderStatus"> 
						#if($order.orderStatus==0)
						<option value=0 selected>未付款</option> 
						#else
						<option value=0>未付款</option> 
						#end
						#if($order.orderStatus==1)
						<option value=1 selected>已付款</option>
						#else
						<option value=1>已付款</option>
						#end
						#if($order.orderStatus==2)
						<option value=2 selected>定制中</option>
						#else
						<option value=2>定制中</option>
						#end
						#if($order.orderStatus==3)
						<option value=3 selected>已发货</option> 
						#else
						<option value=3>已发货</option> 
						#end	
						#if($order.orderStatus==4)
						<option value=4 selected>已收货</option> 
						#else
						<option value=4>已收货</option> 
						#end
						#if($order.orderStatus==5)
						<option value=5 selected>取消</option> 
						#else
						<option value=5>取消</option> 
						#end					
					</select>
				</td>
			</tr>
			<tr>
				<td class="manage_left">备注</td>
				<td class="manage_right"><input type="text" class="manage_input" value="$order.remark" name="remark"></input></td>
			</tr>
			<tr>
				<td class="manage_left">订单总重</td>
				<td class="manage_right">$order.totalWeight</td>
			</tr>
			<tr>
				<td class="manage_left">下单时间</td>
				<td class="manage_right">$order.addTime</td>
			</tr>
			<tr>
				<td class="manage_left">快递单号</td>
				<td class="manage_right"><input type="text" class="manage_input" value="$order.expressCode" name="expressCode"></input></td>
			</tr>
			<tr>
				<td class="manage_left">加急</td>
				<td class="manage_right">
					<select name="isUrgency"> 
						#if($order.isUrgency=="Y")
						<option value="Y" selected>是</option> 
						#else
						<option value="Y">是</option> 
						#end
						#if($order.isUrgency=="N")
						<option value="N" selected>否</option>
						#else
						<option value="N">否</option>
						#end			
					</select>
				</td>
			</tr>
				
			<tr>
				<td class="manage_title">商品信息</td>
			</tr>
			<tr>
				<td>
				<table class="goods_table">
						<tr>
							<td>商品ID</td>
							<td>商品名称</td>
							<td>数量</td>
							<td>单价</td>
						</tr>
						#foreach($goods in $goodsList)
						<tr>
							<td>$goods.id</td>
							<td>$goods.name</td>
							<td>$goods.num</td>
							<td>$goods.price</td>
						</tr>
						#end
				</table>
				</td>
			</tr>
			<tr>
				<td class="manage_left">订单总价</td>
				<td class="manage_right">$order.orderPrice 元</td>
			</tr>

			<tr>
				<td class="manage_title">收货人信息</td>
			</tr>
			<tr>
				<td class="manage_left">收货人姓名</td>
				<td class="manage_right">$order.consignee</td>
			</tr>
			<tr>
				<td class="manage_left">收货地址</td>
				<td class="manage_right"><input type="text" class="manage_input" value="$order.address" name="address"></input></td>
			</tr>
			<tr>
				<td class="manage_left">邮政编码</td>
				<td class="manage_right">$order.zipcode</td>
			</tr>
			<tr>
				<td class="manage_left">收货人电话</td>
				<td class="manage_right">$order.telephone</td>
			</tr>	
			<tr>
				<td class="manage_left">收货人邮箱</td>
				<td class="manage_right">$order.email</td>
			</tr>
			
			<tr>
				<td class="manage_title">用户信息</td>
			</tr>
			<tr>
				<td class="manage_left">用户id</td>
				<td class="manage_right">$user.userId</td>
			</tr>
			<tr>
				<td class="manage_left">用户姓名</td>
				<td class="manage_right">$user.userName</td>
			</tr>
			<tr>
				<td class="manage_left">用户电话</td>
				<td class="manage_right">$user.mobilePhone</td>
			</tr>	
		</table>
		<input type="submit" class="button" name="确认"></input>
	</form>
</div>