#tiles_insertTemplate({"template":"../layout/zbh/wxTemplate.vm"})
  #tiles_putAttribute({"name":"title", "value": "测试用户列表"})#end
    #tiles_putAttribute({"name":"header"})
  	#parse("../layout/zbh/wxHeader.vm")
  #end
    #tiles_putAttribute({"name":"body"})
    #parse("showListBody.vm")
  #end
    #tiles_putAttribute({"name":"footer"})
    #parse("../layout/zbh/wxFooter.vm")
  #end
#end