#tiles_insertTemplate({"template":"../layout/lcf/template.vm"})
#tiles_putAttribute({"name":"title", "value": "商品管理"})#end
#tiles_putAttribute({"name":"body"})
<link rel="stylesheet" href="#springUrl('/resources/css/lcfgm/base.css')">
<link rel="stylesheet" href="#springUrl('/resources/css/lcfgm/bootstrap.css')">
<link rel="stylesheet" href="#springUrl('/resources/css/lcfgm/tablestyle.css')">
<link rel="stylesheet" href="#springUrl('/resources/css/lcfgm/goods-manage.css')">

<div class="maincontainer">
    <div class="rightcontainer modalstyle">
        <form action="addCategory" method="post">
            <div class="modify-body positioncontrol">
                <div>
                    <label for="name">品类名称</label>
                    <input class="form-control" type="text" maxlength="20" required="required" id="name" name="name">
                </div>
                <div>
                    <label>上级品类</label>
                    <select name="upper_category_id" id="upper_category_id">
                        <option value="0" selected>无</option>
                      #foreach($c in $categoryList)
                          <option value="$c.id">$c.name</option>
                      #end
                    </select>
                </div>
                <div>
                    <label>品类等级</label>
                    <select name="rank">
                        <option value="0">A</option>
                        <option value="1">B</option>
                        <option value="2">C</option>
                    </select>
                </div>
                <div>
                    <label for="priority">优先级(0-255)</label>
                    <input class="form-control" type="text" required="required" value="0" id="priority" name="priority" pattern="-?[0-9]*(\.[0-9]+)?">
                </div>
                <div>
                    <label for="type-checkbox">
                        <input type="checkbox" id="type-checkbox" class="mdl-checkbox__input" name="type" value="1">
                        <span class="mdl-checkbox__label">在前台显示</span>
                    </label>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" onclick="window.history.back();">返回</button>
                    <button type="submit" id="addSubmit" class="btn btn-default">确认新增</button>
                </div>
            </div>
        </form>
    </div>
    <div class="leftnav">
        <div class="logo"> </div>
        <ul>
            <li class="listyle"><a href="/Goods">商品资料管理</a></li>
            <li class="listyle"><a href="/Stand">商品上下架管理</a></li>
            <li class="listyle"><a href="/Brand" >商品品牌管理</a></li>
            <li class="active listyle"><a href="/Category">商品品类管理</a></li>
        </ul>
    </div>
    <div style="clear:both;"></div>
</div>

#end
#end
