<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>设置用户信息</title>

		<!-- Bootstrap -->
		<link href="#springUrl('/resources/css/ljd/bootstrap.css')" rel="stylesheet">
    	
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	</head>

	<body>
		<!-- 导航条-->
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand" href="#springUrl('/user/index')">返回</a>
	    	</div>	
		</nav>
		
		<!-- 灰色巨幕实现-->
		<div class="jumbotron">
			<img id="img" src="#springUrl('/resources/images/ljd/default_photo.png')" class="img-circle center-block" width = "140" height = "140">
			<p><center><a class="btn btn-primary btn-lg" href="#" role="button">更改头像</a></center></p>
		</div>
		
		<!-- 用户信息表单-->
		<form action="#springUrl('/user/user_info')" method="POST">
			<div class="form-group">
				<label for="lusername">用户名</label>
				<input type="text" class="form-control" name="user_name" id="user_name" value="$user.user_name">
			</div>
			<div class="form-group">
				<label for="lnickname">昵称</label>
				<input type="text" class="form-control" name="nickname" id="nickname" value="$user.nickname">
			</div>
			<div class="form-group">
				<label for="lmobile_phone">手机号</label>
				<input type="text" class="form-control" name="mobile_phone" id="mobile_phone" value="$user.mobile_phone">
			</div>
			<button type="submit" class="btn btn-default">提交</button>
		</form>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script type="text/javascript" src="#springUrl('/resources/js/ljd/bootstrap.min.js')"></script>

	</body>

</html>