<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xmu.mystore.ordersmgt.tangkai.mapper.OrderGoodsMapper">

    <resultMap id="GoodsBaseMap" type="xmu.mystore.ordersmgt.tangkai.model.OrderGoods">
        <id column="goods_id" property="id" jdbcType="INTEGER"/>
        <result column="goods_name" property="name" jdbcType="VARCHAR"/>
        <result column="goods_number" property="num" jdbcType="INTEGER"/>
        <result column="goods_price" property="price" jdbcType="DOUBLE"/>
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>

	<select id="getAllGoodsByOrderId" parameterType="long"
		resultMap="GoodsBaseMap">
		SELECT * FROM 142489_order_goods,main_goods WHERE
		order_id=#{order_id} AND
		142489_order_goods.goods_id=main_goods.id
	</select>


	<insert id="addOrderGoods" parameterType="xmu.mystore.ordersmgt.tangkai.model.OrderGoods">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			select
			@@IDENTITY as id
		</selectKey>
		insert into 142489_order_goods values(null, #{order_id}, #{goods_id},
		#{name}, #{num}, #{price})
	</insert>
    
</mapper>