#tiles_insertTemplate({"template":"../layout/yzh/template.vm"})#tiles_putAttribute({"name":"title", "value": "用户管理"})#end #tiles_putAttribute({"name":"body"})
<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">所有用户</h2>
  </div>
  <div class="mdl-card__supporting-text" style="height:70%;">
    <div class="row">
      <!--表格-->
      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width:100%;">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">用户名</th>
            <th class="mdl-data-table__cell--non-numeric">真实姓名</th>
            <th class="mdl-data-table__cell--non-numeric">用户类型</th>
            <th class="mdl-data-table__cell--non-numeric">状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          #foreach ($user in $userList)
          <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <div style="width:80px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; ">
                $user.user_name
              </div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div style="width:200px;overflow : hidden;text-overflow : ellipsis;">
              	$user.real_name
              </div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div style="width:200px;overflow : hidden;text-overflow : ellipsis;">
              	#if($user.user_type=="admin")
              		#set($user_type="商店管理员")
              	#else 
              		#if($user.user_type=="super_admin")
              			#set($user_type="商城管理员")
              		#else
              			#set($user_type="普通客户")
              		#end
              	#end
              	$user_type
              </div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <div id="state" style="width:80px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; ">
                #if($user.enable=="enable")
              		#set($enable="可用")
              	#else 
              		#set($enable="不可用")
              	#end
              	
                $enable
              </div>
            </td>
            
            <td><a href="User/changeUserState?id=$user.user_id">修改状态</a></td>
          </tr>
          #end
        </tbody>
      </table>
    </div>
  </div>
  
</div>
#end #end
