<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xmu.mystore.logmgt.zy.mapper.ILogMapper">
	<!-- 查询所有日志 -->
	<select id="getAllLog" resultType="xmu.mystore.logmgt.zy.model.Log">
		SELECT * FROM 142550_log_info
	</select>
	
	<!-- 根据时间范围查找日志 -->
	<select id="getLogByTime" resultType="xmu.mystore.logmgt.zy.model.Log">
		SELECT * FROM 142550_log_info
		WHERE op_time BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 新增 -->
	<insert id="addLog" parameterType="xmu.mystore.logmgt.zy.model.Log">
		INSERT INTO 142550_log_info(admin_id, op_time, op_object, op_method, op_content, result, ip_address)
		VALUES (#{admin_id},#{op_time},#{op_object},#{op_method}, #{op_content},#{result}, #{ip_address})
	</insert>
</mapper>