#tiles_insertTemplate({"template":"../layout.lhr/template.vm"})
#tiles_putAttribute({"name":"title", "value": "发货"})#end
#tiles_putAttribute({"name":"header"}) #parse("../layout.lhr/header.vm")
<script type="text/javascript">
	<!--
	function getLocalTime(nS) {     
		return new Date(parseInt(nS) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");
		} 
	function getStatus(value) {     
		if(parseInt(value) == 0)
			return "未付款";
		else if(parseInt(value) == 1)
			return "已付款";
		else if(parseInt(value) == 2)
			return "定制中";
		else if(parseInt(value) == 3)
			return "已发货";
		else if(parseInt(value) == 4)
			return "已收货";
		else return "取消";
		} 

	  	function judge()
  		{
  			if(document.getElementById("expressCode")=="请输入")
  				return false;
  		}
  		
	//-->
	</script>
	
	
	
  		
#end #tiles_putAttribute({"name":"body"})

<div>
	<form action="updateTransfer" class="manage">
		<table>
			<br/><br/>
			<label> <font color="black" size="6"><div style="margin-top:25px;">订单信息</div></font></label>
			<HR style="border: 6 groove #ff0033" align=center width="90%" SIZE=4>
			<label>订单号:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp$order.getOrder_id()</label>
			<input type="hidden" name="order_id" value="$order.getOrder_id()" />
			</br>
			</br>
			<label>下单时间:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<script
				type="text/javascript">document.write(getLocalTime($order.getAdd_time()));</script></label>
			</br>
			</br>
			<label>订单状态:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<script
				type="text/javascript">document.write(getStatus($order.getOrder_status()));</script></label>
			</br>
			</br>
			<label>订单备注:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp$order.getRemark()</label>
			</br>
			</br>
			<label style="display:inline;">快递单号:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input class="c1" type="text"  value="请输入" name="expressCode" id="expressCode"></label>
			
			</br>
			</br> #if($isUrgency=="Y")
			<label>是否加急:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp是</label>
			</br>
			</br> #else
			<label>是否加急:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp否</label>
			</br>
			</br> #end
			
			
			<HR style="border: 6 groove #ff0033" align=center width="90%" SIZE=4>
			<label> <font color="black" size="6">接收人信息</font></label>
			<HR style="border: 6 groove #ff0033" align=center width="90%" SIZE=6>
			<label>接收人姓名:&nbsp&nbsp&nbsp&nbsp&nbsp$order.getConsignee()</label>
			</br>
			</br>
			<label>接收人电话:&nbsp&nbsp&nbsp&nbsp&nbsp$order.getTelephone()</label>
			</br>
			</br>
			<label>接收人地址:&nbsp&nbsp&nbsp&nbsp&nbsp$order.getAddress()</label>
			</br>
			</br>

			
			<HR style="border: 6 groove #ff0033" align=center width="90%" SIZE=4>
			<label> <font color="black" size="6">商品信息</font></label>
			<HR style="border: 3 double #000000"  width="90%" SIZE=4>

			<tr>
				<td colspan="2">
					<table class="goods_table">
						<tr>
							<td>商品ID</td>
							<td>商品名称</td>
							<td>数量</td>
							<td>单价</td>
						</tr>
						#foreach($goods in $goodsList)
						<tr>
							<td>$goods.getId()</td>
							<td>$goods.getName()</td>
							<td>$goods.getNum()</td>
							<td>$goods.getPrice()</td>
						</tr>
						#end
					</table>
				</td>
			</tr>
			<tr>
				<td></td>
				<td class="goods_total">总价 : $order.getOrder_price() RMB</td>
			</tr>
		</table>
		
		
		<div>
	
			
				<input type="submit" class="button_text2" value="发货"></input>		
			
		</div>
		
		
		
	</form>
</div>
#end #tiles_putAttribute({"name":"footer"})
#parse("../layout.lhr/footer.vm") #end #end
