#title
{
    width: 72%;
    background-color: white;
    box-shadow:7px 7px 7px #aaaaaa;
    margin: 5% auto 0 auto;
    border-radius: 3px;
}
.content
{
    width: 72%;
    background-color: white;
    box-shadow:7px 7px 7px #aaaaaa;
    margin: 20px 14% 0 14%;
    border-radius: 3px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.container
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.title-container
{
    padding: 30px;
}
.title
{
    border-left: solid 6px #135480;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    font-size: 26px;
    color: gray;
    padding-left: 30px;
}
.change-normal
{
    margin-left: 100px;
}
.change-input
{
    border: none;
    border-bottom: solid 3px #135480;
    font-family: "Microsoft YaHei UI";
    font-size: 18px;
}
.change-select
{
    border: none;
    border-bottom: solid 3px #135480;
    font-family: "Microsoft YaHei UI";
    font-size: 16px;
}
.long
{
    width: 400px;
}
.middle
{
    width: 220px;
}
.short
{
    width: 120px;
}
.cannotchange
{
    background-color: rgba(170,170,170,.4)
}
.content-container
{
    display: inline-block;
    padding-bottom: 30px;
    width: 100%;
}
.content-container-span
{
    color: gray;
    font-family: "Microsoft YaHei UI";

}
.change-button
{
    font-size: 18px;
    color: white;
    background-color: #135480;
    box-shadow:2px 2px 2px #aaaaaa;
    border-radius: 7px;
    padding: 6px;
}
.same-line
{
    margin-right: 18px;
}