<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>#tiles_insertAttribute({"name":"title"})#end</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="#springUrl('/resources/css/lcfgm/bootstrap.css')" />
	<!-- Square card -->
</head>

<body>

	<!-- The drawer is always open in large screens. The header is always shown,
	  even in small screens. -->
		#tiles_insertAttribute({"name":"body"})#end
</body>

</html>
