
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Middle-Software-JPA</title>
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="resources/css/zjq/top-nav.css">
    <link rel="stylesheet" href="resources/css/zjq/Common.css">
    <link rel="stylesheet" href="resources/css/zjq/OrderChange.css">
</head>
<body>
    #include("zjq/top-nav.vm")
<div id="title">
    <div class="title-left">
        <a href="OrderManage"><span class="glyphicon glyphicon-menu-left" style="vertical-align: -2px;padding: 12px 5px 12px 30px"></span></a>
        <span style="font-family: 'Microsoft YaHei UI';padding-left: 8px">修改订单信息</span>
    </div>
    <div style="clear: both"></div>
</div>
<div class="content">
    <div class="container">
        <ul>
            <li>
                <div class="title-container">
                    <p class="title">修改订单状态</p>
                </div>
            </li>
            <li>
                <div class="content-container">
                    <p id="test" class="change-normal content-container-span">订单编号</p>
                    <input class="change-normal change-input cannotchange long" disabled="disabled" value="${orderinfo.order_sn}">
                </div>
            </li>
            <li>

                <div class="content-container">
                    <p class="change-normal content-container-span">订单状态</p>
                    <select id="select-list" class="change-normal change-select middle">
                        <option >未收款</option>
                        <option >已收款</option>
                        <option >定制中</option>
                        <option >已发货</option>
                        <option >已收货</option>
                        <option >取消</option>
                    </select>
                </div>
            </li>
            <li>
                    <button class="change-button change-normal" onclick="updatestatus()">修改订单状态</button>
            </li>
            <li>
                <div class="title-container">
                    <p class="title">修改地址</p>
                </div>
            </li>
            <li>
                <div class="content-container">
                    <p class="change-normal content-container-span">收货地址</p>
                    <select class="same-line change-normal change-select short">
                        <option>福建</option>
                    </select>
                    <select class="same-line change-select short">
                        <option>厦门</option>
                    </select>
                    <select class="same-line change-select short">
                        <option>思明区</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="content-container">
                    <p class="change-normal content-container-span">收货人</p>
                    <input id="consignee" class="change-normal change-input long" value="${orderinfo.consignee}">
                </div>
            </li>
            <li>
                <div class="content-container">
                    <p class="change-normal content-container-span">邮编</p>
                    <input id="zipcode" class="change-normal change-input long" value="${orderinfo.zipcode}">
                </div>
            </li>
            <li>
                <div class="content-container">
                    <p class="change-normal content-container-span">联系电话</p>
                    <input id="telephone" class="change-normal change-input long" value="${orderinfo.telephone}">
                </div>
            </li>
            <li>
                <div class="content-container">
                    <p class="change-normal content-container-span">详细地址</p>
                    <input id="address" class="change-normal change-input long" value="${orderinfo.address}">
                </div>
            </li>
            <li>
                <button onclick="updateaddress()" class="change-button change-normal">修改地址</button>
            </li>
            <li>
                <div class="title-container">
                    <p class="title">修改快递单号</p>
                </div>
            </li>
            <li>
                <div class="content-container">
                    <p class="change-normal content-container-span">快递单号</p>
                    <input id="expresscode" class="change-normal change-input long" value="${orderinfo.expressCode}">
                </div>
            </li>
            <li>
                <button onclick="updateexpresscode()" class="change-button change-normal">修改快递单号</button>
            </li>
            <li>
                <div class="title-container">
                    <p class="title">修改备注</p>
                </div>
            </li>
            <li>
                <div class="content-container">
                    <p class="change-normal content-container-span">备注</p>
                    <input id="remark" class="change-normal change-input long" value="${orderinfo.remark}">
                </div>
            </li>
            <li>
                <button onclick="updateremark()" class="change-button change-normal">修改备注</button>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="resources/jquery/jquery-3.1.1.js"></script>
<script type="text/javascript" src="resources/bootstrap/js/bootstrap.js"></script>
<script>
        window.onload=function () {
            var status=${orderinfo.order_status};
            var selectlist=document.getElementById("select-list");
            switch (status)
            {
                case 0:selectlist[0].selected=true;break;
                case 1:selectlist[1].selected=true;break;
                case 2:selectlist[2].selected=true;break;
                case 3:selectlist[3].selected=true;break;
                case 4:selectlist[4].selected=true;break;
                case 5:selectlist[5].selected=true;break;
            }
        }
        function updatestatus() {
            var order_id=${orderinfo.order_id};
            var status=$("#select-list option:selected").val();
            $.ajax(
                    {
                        type: 'GET',
                        contentType: 'application/json;charset=utf-8',
                        url:'UpdateStatus?orderid='+order_id+'&&status='+status,
                        success:function (data) {
                            if(data!=null)
                            {
                                alert("修改成功！");
                            }
                        }
                    }
                    )
        }
        function updateaddress() {
            var consignee=document.getElementById("consignee").value;
            var zipcode=document.getElementById("zipcode").value;
            var telephone=document.getElementById("telephone").value;
            var address=document.getElementById("address").value;
            var orderid=${orderinfo.order_id};
            $.ajax(
                    {
                        type:'GET',
                        url:'UpdateAddress?consignee='+consignee+'&&zipcode='+zipcode+'&&telephone='+telephone+'&&address='+address+'&&order_id='+orderid,
                        success:function (data) {
                            if(data!=null)
                            {
                                alert("修改成功！");
                            }
                        }
                    }
            )
        }
        function updateexpresscode() {
            var expresscode=document.getElementById("expresscode").value;
            $.ajax(
                    {
                        type:'GET',
                        url:'UpdateExpressCode?expresscode='+expresscode+'&&order_id='+${orderinfo.order_id},
                        success:function (data) {
                            if(data!=null)
                            {
                                alert("修改成功");
                            }
                        }
                    }
            )
        }
        function updateremark() {
            var remark=document.getElementById("remark").value;
            $.ajax(
                    {
                        type:'GET',
                        url:'UpdateRemark?remark='+remark+'&&order_id='+${orderinfo.order_id},
                        success:function (data) {
                            if(data!=null)
                            {
                                alert("修改成功");
                            }
                        }
                    }
            )
        }
</script>
</body>
</html>
