<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xmu.mystore.goodsmgt.lcf.mapper.BrandMapper">
	<resultMap type="xmu.mystore.goodsmgt.lcf.model.Brand" id="BrandResult">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="website" property="website" />
		<result column="description" property="description" />
		<result column="type" property="type" />
	</resultMap>

	<insert id="add" parameterType="xmu.mystore.goodsmgt.lcf.model.Brand">
		insert into
		142452_brand(name,website,description,type)
		values(#{name},#{website},#{description},#{type})
	</insert>

	<delete id="delete" parameterType="xmu.mystore.goodsmgt.lcf.model.Brand">
		delete from
		142452_brand where
		id=#{id}
	</delete>

	<update id="update" parameterType="xmu.mystore.goodsmgt.lcf.model.Brand">
		update 142452_brand
		set
		name=#{name},
		website=#{website},
		description=#{description},
		type=#{type}
		where
		id=#{id}
	</update>

	<select id="select" resultMap="BrandResult"
		parameterType="xmu.mystore.goodsmgt.lcf.model.Brand">
		SELECT * FROM 142452_brand WHERE ID= #{id}
	</select>

	<select id="selectAll" resultMap="BrandResult">
		<choose>
			<when test="isShowable">
				SELECT * FROM 142452_brand WHERE type=1
			</when>
			<otherwise>
				SELECT * FROM 142452_brand
			</otherwise>
		</choose>
	</select>
</mapper>