<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xmu.mystore.ordersmgt.zy.mapper.IOrderMapper">

	<insert id="addOrder" parameterType="xmu.mystore.ordersmgt.zy.model.Order">
		insert into 142550_order_info(order_sn, user_id, order_status, consignee,address,zipcode, telephone,
		email, goods_price, order_price, remark, total_weight, signature_characters, add_time, pay_time, make_time, shipped_time,
		receive_time, cancel_time, expressCode, isUrgency)
		values(#{order_sn}, #{user_id}, #{order_status}, #{consignee},#{address}, #{zipcode}, #{telephone},
		#{email}, #{goods_price}, #{order_price}, #{remark}, #{total_weight}, #{signature_characters}, #{add_time},
		#{pay_time}, #{make_time}, #{shipped_time},#{receive_time}, #{cancel_time}, #{expressCode}, #{isUrgency})
	</insert>
	
	<update parameterType="xmu.mystore.ordersmgt.zy.model.Order"
		id="updateOrder">
		update 142550_order_info set
		order_status=#{order_status},
		remark=#{remark},
		expressCode=#{expressCode},
		consignee=#{consignee},
		isUrgency=#{isUrgency},
		address=#{address},
		telephone=#{telephone},
		total_weight=#{total_weight},
		order_price=#{order_price},
		shipped_time=#{shipped_time},
		make_time=#{make_time},
		pay_time=#{pay_time},
		order_sn=#{order_sn}
		where
		order_id=#{order_id}
	</update>
	
	
	<!-- 查询所有订单 -->
	<select id="getAllOrder" resultType="xmu.mystore.ordersmgt.zy.model.Order">
		SELECT * FROM 142550_order_info
	</select>
	<!-- 根据订单 ID 查找订单 -->
	<select id="getOrderByID" parameterType="long"
		resultType="xmu.mystore.ordersmgt.zy.model.Order">
		SELECT * FROM 142550_order_info
		WHERE order_id = #{id}
	</select>
	<!-- 根据订单编号查找订单 -->
	<select id="getOrderBySN" parameterType="String"
		resultType="xmu.mystore.ordersmgt.zy.model.Order">
		SELECT * FROM 142550_order_info
		WHERE order_sn = #{sn}
	</select>
	<!-- 根据收货人查找订单 -->
	<select id="getOrderByConsignee" parameterType="String"
		resultType="xmu.mystore.ordersmgt.zy.model.Order">
		SELECT * FROM 142550_order_info
		WHERE consignee = #{consignee}
	</select>
	<!-- 根据是否加急查找订单 -->
	<select id="getOrderByUrgency" parameterType="String"
		resultType="xmu.mystore.ordersmgt.zy.model.Order">
		SELECT * FROM 142550_order_info
		WHERE isUrgency = #{isUrgency}
	</select>
	<!-- 根据订单状态查找订单 -->
	<select id="getOrderByStatus" parameterType="int"
		resultType="xmu.mystore.ordersmgt.zy.model.Order">
		SELECT * FROM 142550_order_info
		WHERE order_status =
		#{order_status}
	</select>

	<!-- 根据订单下单的时间范围查找订单 -->
	<select id="getOrderByAddTime" resultType="xmu.mystore.ordersmgt.zy.model.Order">
		SELECT * FROM
		142550_order_info
		WHERE add_time BETWEEN #{start} AND #{end}
	</select>

	<!-- 根据商品名称查找订单 -->
	<select id="getOrderByGoodsName" parameterType="String"
		resultType="xmu.mystore.ordersmgt.zy.model.Order">
		SELECT * FROM 142550_order_info
		WHERE order_id IN
		(
		SELECT order_id FROM 142550_order_goods
		WHERE goods_name = #{goods_name}
		)
	</select>

	<!-- 查找订单 ID -->
	<select id="getAllOrderID" resultType="long">
		SELECT order_id FROM
		142550_order_info
	</select>
	<!-- 根据订单编号查找订单 ID -->
	<select id="getOrderIDBySN" parameterType="String" resultType="long">
		SELECT order_id FROM 142550_order_info
		WHERE order_sn = #{sn}
	</select>
	<!-- 根据收货人查找订单 ID -->
	<select id="getOrderIDByConsignee" parameterType="String"
		resultType="long">
		SELECT order_id FROM 142550_order_info
		WHERE consignee =
		#{consignee}
	</select>
	<!-- 根据是否加急查找订单 ID -->
	<select id="getOrderIDByUrgency" parameterType="String"
		resultType="long">
		SELECT order_id FROM 142550_order_info
		WHERE isUrgency =
		#{isUrgency}
	</select>
	<!-- 根据订单状态查找订单 ID -->
	<select id="getOrderIDByStatus" parameterType="int" resultType="long">
		SELECT order_id FROM 142550_order_info
		WHERE order_status = #{order_status}
	</select>
	<!-- 根据订单下单的时间范围查找订单 ID -->
	<select id="getOrderIDByAddTime" resultType="long">
		SELECT order_id FROM
		142550_order_info
		WHERE add_time BETWEEN #{start} AND #{end}
	</select>
	<!-- 根据商品名称查找订单 ID -->
	<select id="getOrderIDByGoodsName" parameterType="String"
		resultType="long">
		SELECT order_id FROM 142550_order_goods
		WHERE goods_name = #{goods_name}
	</select>
	<!-- 根据用户 ID 查找订单 ID -->
	<select id="getOrderIDByUserID" parameterType="long" resultType="long">
		SELECT order_id FROM 142550_order_info
		WHERE user_id = #{user_id}
	</select>
	<!-- 根据用户 ID 和 状态 查找订单 ID -->
	<!-- 未付款的订单 -->
	<select id="getUnpaidOrderIDByUserID" parameterType="long" resultType="long">
		SELECT order_id FROM 142550_order_info
		WHERE user_id = #{user_id} AND order_status = 0
	</select>
	<!-- 待收货（已付款、定制中、已发货）的订单 -->
	<select id="getShippingOrderIDByUserID" parameterType="long" resultType="long">
		SELECT order_id FROM 142550_order_info
		WHERE user_id = #{user_id} AND ( order_status = 1 OR order_status = 2 OR order_status = 3)
	</select>
	<!-- 已收货 的订单 -->
	<select id="getCompletedOrderIDByUserID" parameterType="long" resultType="long">
		SELECT order_id FROM 142550_order_info
		WHERE user_id = #{user_id} AND order_status = 4
	</select>
	<!-- 已取消 的订单 -->
	<select id="getCanceledOrderIDByUserID" parameterType="long" resultType="long">
		SELECT order_id FROM 142550_order_info
		WHERE user_id = #{user_id} AND order_status = 5
	</select>


	<!-- 修改 订单备注、订单状态、订单收货地址、订单的快递单号。 -->
	<update id="updateOrderRemark" parameterType="xmu.mystore.ordersmgt.zy.model.Order">
		UPDATE 142550_order_info
		SET
		remark = #{remark}
		WHERE order_sn = #{order_sn}
	</update>
	<update id="updateOrderAddress" parameterType="xmu.mystore.ordersmgt.zy.model.Order">
		UPDATE 142550_order_info
		SET
		address = #{address}
		WHERE order_sn = #{order_sn}
	</update>
	<update id="updateOrderExpressCode" parameterType="xmu.mystore.ordersmgt.zy.model.Order">
		UPDATE
		142550_order_info SET
		expressCode = #{expressCode}
		WHERE order_sn = #{order_sn}
	</update>
	<update id="updateOrderStatus" parameterType="xmu.mystore.ordersmgt.zy.model.Order">
		UPDATE 142550_order_info
		SET
		order_status = #{order_status}
		WHERE order_sn = #{order_sn}
	</update>

	<update id="updateOrderPayTime" parameterType="xmu.mystore.ordersmgt.zy.model.Order">
		UPDATE 142550_order_info
		SET
		pay_time = #{pay_time}
		WHERE order_sn = #{order_sn}
	</update>
	<update id="updateOrderShipTime" parameterType="xmu.mystore.ordersmgt.zy.model.Order">
		UPDATE 142550_order_info
		SET
		shipped_time = #{shipped_time}
		WHERE order_sn = #{order_sn}
	</update>
	<update id="updateOrderMakeTime" parameterType="xmu.mystore.ordersmgt.zy.model.Order">
		UPDATE 142550_order_info
		SET
		make_time = #{make_time}
		WHERE order_sn = #{order_sn}
	</update>
	<update id="updateOrderRecvTime" parameterType="xmu.mystore.ordersmgt.zy.model.Order">
		UPDATE 142550_order_info
		SET
		receive_time = #{receive_time}
		WHERE order_sn = #{order_sn}
	</update>
	<update id="updateOrderCancelTime" parameterType="xmu.mystore.ordersmgt.zy.model.Order">
		UPDATE 142550_order_info
		SET
		cancel_time = #{cancel_time}
		WHERE order_sn = #{order_sn}
	</update>
	

</mapper>