<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xmu.mystore.ordermgt.lhr.Mapper.UserMapper"> 
	<resultMap id="UserBaseMap" type="xmu.mystore.ordermgt.lhr.model.User">
        <id column="user_id" property="user_id" jdbcType="INTEGER"/>
        <result column="user_name" property="user_name" jdbcType="VARCHAR"/>
        <result column="mobile_phone" property="mobile_phone" jdbcType="VARCHAR"/>
    </resultMap>
       
    <select id="getUserByUserId" parameterType="long" resultMap="UserBaseMap">
        SELECT * FROM users WHERE user_id=#{user_id};
    </select>
</mapper>