<div style="width:100%;height:40px;background:#135480;">
	<a href="#" onClick="javascript :history.back(-1);" 
	style="float:left;margin-top:10px;margin-left:50px;color:white;
	text-decoration:none;">
	返回
	</a>
	<a href="searchOrder" style="float:right;margin-top:10px;
	margin-right:50px;color:white;text-decoration:none;">搜索</a>
</div>