<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>品牌增加</title>
	<style type="text/css">
	body{
		background: #e8e8e8;
		margin: 0;
		padding: 0;
		width: 80%
		font-size: 14px;
		color: #b0b0b0;
		position: relative;
	}
	.up{
		margin: 40px 100px 20px 100px;
		background: #ffffff;
		color: #004090;
		font-size: 20px;
		font-weight: bold;
		border-radius: 5px;
		box-shadow: 0px 2px 10px #707070;
	}
	span{
		display: block;
		padding: 10px 0px;
	}
	.down{
		text-align:center;
		margin: 0px 100px;
		background: #ffffff;
		border-radius: 5px;
		box-shadow: 0px 2px 10px #707070;
	}
	input,button{
		margin: 20px 0px 15px 0px;
		outline: none;
		border: none;
	}
	input{
		width: 250px;
		border-left: 0px;
		border-right: 0px;
		border-top: 0px;
		border-bottom: 2px solid #004090;
		margin: 15px 0px 10px 0px;
	}
	label{
		width: 100px;
		display: inline-block;
		margin: 10px 0px 10px 0px;
		font-size: 12px;
		position: absolute;
		left: 39%;
	}
	.check{
		width: 50px;
		height: 20px;
		margin-left:130px;
		vertical-align: middle;
	}
	.left,.right{
		font-weight: bold;
		padding: 3px 12px;
		border-radius: 5px;
		box-shadow: 2px 2px 10px #707070;
		font-size: 18px;
	}
	.left{
		margin-right: 65px;
		color: #ffffff;
		background: #0058c0;
	}
	.right{
		margin-left: 65px;
		color: #0058c0;
		background: #ffffff;
	}
	</style>
	</head>
<body>
<div class="contain">
<div class="up">
	<span>上下架修改</span>
</div>
<div class="down">
	<form action="StandUpdateResult" method="post">
	<label>上架时间</label><br>
	<input type="text" name="onMarketTime" value="${stand.onMarketTime}" placeholder=""></input><br>
	<label>下架时间</label><br>
	<input type="text" name="offMarketTime" value="${stand.offMarketTime}" placeholder=""></input><br>
	<label>预售数量</label><br>
	<input type="text" name="preSaleCount" value="${stand.preSaleCount}" placeholder="输入预售数量"></input><br>
	<button type="submit" value="确定" class="left">确定</button>
	<button type="reset" value="重置" class="right">重置</button>
	<input type="hidden"  name="standId" value="${stand.id}" placeholder=""></input><br>
	</form>
</div>
</div>
</body>
</html>