<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xmu.mystore.goodsmgt.wcf.mapper.BrandMapper">

	<resultMap id="BrandMapper" type="xmu.mystore.goodsmgt.wcf.model.Brand">
		<id column="id" property="brand_id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="website" property="website" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
	</resultMap>
	<select id="getBrandList" resultMap="BrandMapper">
		SELECT * FROM main_brand
	</select>
	<insert id="addBrand"    useGeneratedKeys="true" keyProperty="brand_id" >
	insert into main_brand values(null,#{name},#{website},#{description},#{type})
	</insert>
	<delete id="deleteBrandById"  parameterType="long" >
		delete from main_brand where id=#{id}
	</delete>
	<select id="getBrandById" parameterType="long" resultMap="BrandMapper">
		SELECT
		* FROM main_brand where id=#{id}
	</select>
	
	<update id="updateBrand" >
		update main_brand set name=#{name},website=#{website},description=#{description},type=#{type} where id=#{brand_id}
	</update>
	
	

</mapper>