header
{
    position: relative;
}
.gocartbar
{
    position: absolute;
    right: 1em;
    top:1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color:rgba(0,0,0,0.3);
    z-index: 1;
    cursor: pointer;
}
.gocartbtn
{
    position: absolute;
    left:0.8em;
    top:0.8em;
    width: 1.4em;
    height: 1.4em;
    background: url("../../images/lcf/cart (2).png") no-repeat;
    background-size: contain;
    z-index: 1;
}
.gobackbar
{
    position: absolute;
    left: 1em;
    top:1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color:rgba(0,0,0,0.3);
    z-index: 1;
    cursor: pointer;
}
.gobackbtn
{
    position: absolute;
    left:0.8em;
    top:0.8em;
    width: 1.4em;
    height: 1.4em;
    background: url("../../images/lcf/back.png") no-repeat;
    background-size: contain;
    z-index: 1;
}
main{
    margin-bottom: 5em;
}
footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
    background-color: #135480;
}
img
{
    position: relative;
    width: 100%;
    height: 22em;
    z-index: -1;
}
.goodsinfo
{
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0px;
}
.mprice,.rprice
{
    color: #FFB90F;
    font-weight: 500;
    font-size: 1.5em;
}
.score,.storage
{
    float: right;
    padding: 0.2em 0.5em;
    margin-left: 0.4em;
    background-color: #135480;
    color: #FFFFFF;
    border-radius:0.5em;
}
.addCart
{
    position: absolute;
    right: 0;
    top: 0.6em;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
}
.deletebar
{
    position: absolute;
    right: 1em;
    top:1em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color:rgba(0,0,0,0.3);
    z-index: 1;
    cursor: pointer;
}
.deletebtn
{
    position: absolute;
    width: 2em;
    height: 2em;
    background: url("../../images/lcf/wrong.png") no-repeat;
    background-size: contain;
    z-index: 1;
}
.adddetail
{
    display: none;
    position: absolute;
    bottom:0 ;
    left: 0;
    width: 100%;
    height: 12em;
    background-color: #ECECEC;
    border-radius: 1em 1em 0 0;
    z-index: 3;
}
.adddetail img
{
    position: absolute;
    top:1em;
    left: 1em;
    width: 6em;
    height: 6em;
}
.adddetail h1
{
    position: relative;
    top:-1.5em;
    left: 5em;
    font-weight: 300;
    font-size: 1.5em;
}
.confirmaddCart
{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #FFFFFF;
    width: 100%;
    height: 3em;
    padding-top: 0.6em;
    background-color: #135480;
    text-align: center;
    font-size: 1.3em;
}
.bgPop{
    display: none;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
}
/*数组增减框*/
.gw_num{
    position: relative;
    top:-1.6em;
    left: 7.5em;
    border: 1px solid #dbdbdb;
    width: 8em;
    height: 2em;
    overflow: hidden;
}
.gw_num em{
    display: block;
    height:2em;
    width: 2em;
    float: left;
    color: #7A7979;
    border-right: 1px solid #dbdbdb;
    text-align: center;
    cursor: pointer;
}
.gw_num .num{
    display: block;
    float: left;
    text-align: center;
    width:4em;
    height: 2em;
    font-style: normal;
    font-size: 14px;
    border: 0;
}
.gw_num em.add{
    float: right;
    border-right: 0;
    border-left: 1px solid #dbdbdb;
}




