.back-arrow {
	height: 30px;
}

.mdl-navigation__link {
	width: 30px;
}  

.mdl-layout__header-row .mdl-navigation__link {
	padding-left: 0;
}

.my_list {
	padding-top: 0px;
}

.my_list hr {
	border: 0 solid #aaaaaa;
	background-color: #dddddd;
	box-shadow: 0 0 1px #eeeeee;
}

.li_box {
	width: 100%;
	background: none;
	border: none;
	outline: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left_container {
	display: flex;
	align-items: center;
	margin-left: 15px;
	margin-right: 10px;
}

.left_container label{
	font-size: 16px;
}

.delete-address {
	color: #ff0000
}

.mid_container {
	position: absolute; 
    top: 30%;   
    left: 35%; 
}

.mid_container label{
	font-size: 20px;
	color: #FFFFFF
}

.right_container {
	display: inline-block;
	display: flex;
	align-items: center;
}

.right_container >  label{
	font-size: 15px;
	color: #999999;
	padding-right: 10px;
}


.ic_arrow {
	height: 20px;
	width: 20px;
}

.user_header {
	height: 55px;
	width: 55px;
	border-radius: 51%;
}

.line-spacer {
	height: 8px;
	border-bottom: solid 1px;
    border-bottom-color: #eeeeee;
    background: #eeeeee;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em
}

.footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:56px;
	background-color: #ff0000;
}

.button-save{
	position:relative;
	margin-left: 10%;
	width:80%;
	height:56px;
	background-color: #ff0000;
}


.nick-input{
	font-size: 16px;
	border-width: 0px; 
	width: 50%; 
	height: 18px;
	margin-left: 20%
}

.item-choose {
	width: auto;
	height: 35px;
	margin-bottom: 15px;
	margin-left: 30px;
	margin-right: 30px
}

.item-choose-btn {
	width: 100%;
	box-shadow: none;
	border-radius: 5px;
}