<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>#tiles_insertAttribute({"name":"title"})#end</title>
		<link rel="stylesheet" href="#springUrl('/resources/css/tangkai/style.css')" type="text/css" media="all" />
	</head>
	<header>
		#tiles_insertAttribute({"name":"header"})#end
	</header>	
	<body class="basic_div">
		#tiles_insertAttribute({"name":"body"})#end
	</body>
	<footer>
		#tiles_insertAttribute({"name":"footer"})#end
	</footer>
</html>