<div style="width:100%;height:50px;background:#135480;">
	<a href="searchOrder" style="float:right;margin-top:10px;
	margin-right:50px;color:white;text-decoration:none;">
	您好,
	#if($openid!="")
		$openid
	#else
		$user.openid
	#end
	</a>
</div>