#tiles_insertTemplate({"template":"template.vm"})
#tiles_putAttribute({"name":"title", "value": "添加商品"})#end
#tiles_putAttribute({"name":"header"}) 
#parse("header.vm")
#end 
#tiles_putAttribute({"name":"body"})
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


<form action="added" method="post" accept-charset="UTF-8">
      <div class="row">
        <div class="input-field col s12">
<input id="name" type="text" name="name"  class="validate" />
          <label for="name">品类名称</label>
</div>
</div>
<div class="row">
        <div class="input-field col s12">
<input id="priority" type="text" name="priority" class="validate"/>
 <label for="priority">商品显示顺序0-250</label>
</div>
</div>
 <div class="input-field col s12">
      <select  name="upper_category_id" class="browser-default">
        <option value="" disabled selected>上级分类</option>
#foreach($Category in ${CategoryList}) 
        <option value="$Category.id">$Category.name</option>    
#end
     </select>
   </div>

<button class="btn waves-effect waves-light" type="submit" >确定
    <i class="material-icons right">send</i>
  </button>
    <input class="btn waves-effect waves-light" type="reset" value="重置"/>
</form>
#end 
#tiles_putAttribute({"name":"footer"})
#parse("footer.vm") 
#end 
#end


