#tiles_insertTemplate({"template":"template.vm"})
#tiles_putAttribute({"name":"title", "value": "添加商品"})#end
#tiles_putAttribute({"name":"header"}) 
#parse("header.vm")
#end 
#tiles_putAttribute({"name":"body"})
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


<table id="mytable" class="bordered striped highlight">
	<caption>
	<h3>商品列表</h3>
	<a class="waves-effect waves-light btn" href="add">添加</a>
	</caption>
	<tbody>
		<tr>
			<th scope="col">商品编号</th>
			<th scope="col">商品名称</th>
			<th scope="col">中介价格</th>
			<th scope="col">市场价格</th>
			<th scope="col">真实价格</th>
			<th scope="col">库存</th>
			<th scope="col">操作</th>
		</tr>
		
		#foreach($goods in ${goodsList})
		</tr>
		<td>$goods.serial_code
		</td>
		<td>
		$goods.name
		</td>
		<td>
		$goods.mid_user_price
		</td>
		<td>
		$goods.market_price
		</td>
		<td>
		$goods.real_price
		</td>
		<td>
		$goods.stock_count
		</td>
		<td>
		<a href="delete?id=$goods.id">删除</a>|
		<a href="modify?id=$goods.id">修改</a>
		</td>
		</tr>
		#end
	</tbody>
</table>
#end 
#tiles_putAttribute({"name":"footer"})
#parse("footer.vm") 
#end 
#end

