  
  

  <nav>
    <div class="nav-wrapper black ">
      <a href="/J2EE" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/J2EE/GoodsManage/showList">商品资料管理</a></li>
        <li><a href="/J2EE/CategoryManage/showList">商品品类管理</a></li>
        <li><a href="/J2EE/brandManage/showList">商品品牌管理</a></li>
        <li><a href="/J2EE/standManage/showList">商品上下架管理</a></li>
      </ul>
    </div>
  </nav>