
<!DOCTYPE html>
<html>
<head>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
	media="screen,projection" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8">


<title>#tiles_insertAttribute({"name":"title"})#end</title>
</head>
<header> #tiles_insertAttribute({"name":"header"})#end </header>
<body>
#tiles_insertAttribute({"name":"body"})#end
</body>
<footer class="page-footer  black" > #tiles_insertAttribute({"name":"footer"})#end </footer>
</html>