
<link href="#springUrl('/resources/css/tangkai/style.css')" rel="stylesheet" type="text/css" media="all" />

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>支付订单</title>
    
    	<link rel="stylesheet" href="#springUrl('/resources/css/zjh/footer.css')">
    
	
	
</head>

<body>
	
	<footer class="footer_container">
		<div>
			实付款
		</div>
			
		<div>
			<button class="btn_commit">
				提交
            </button>
		</div>
    </footer>

</body>