<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>提交订单</title>
    
    	<link rel="stylesheet" href="#springUrl('/resources/css/zjh/footer.css')">
    <style>
     
    </style>
</head>
<body>

<div id="title" align="center">
            <span style="font-family: 'Microsoft YaHei UI';padding-left: 8px">填写订单</span>

</div>

<div id="consignee">
	<form>
	<tr>
		<td style="font-family: 'Microsoft YaHei UI';padding-left: 10px">$user.user_name</td>  |  
		<td style="font-family: 'Microsoft YaHei UI';padding-left: 8px">$user.mobile_phone</td>
	</tr>
	<tr>
		<td style="font-family: 'Microsoft YaHei UI';padding-left: 8px">$user.address</td>
	</tr>
    </form>
	
</div>
		

<div id="goods" class="cart">
	<!-- cart -->
	#foreach($item in $goods)
		<div class="left-content">
			<pic/>
                <span>{$goods.toString()}</span>
        </div>
		<br/>
	#end
</div>

<div>
	
	<span>
		$goods.name
    </span>

</div>

<div id="privilege" class="content">
	<br/>(waiting for implement..)
	<br/>
</div>

<div id="totle" class="content">
    <span>总计金额：{$order.order_price}</span>
</div>

<div id="submit" class="buttom">
    <form id="subForm" action="#springUrl('/liulei/payOrder')" method="post">
		<input type="hidden" name="sm" id="" value="$order.id"/>
	</form>
	<div ></div>
    <button id="submit" class="button-yes" onclick="submitOrder()">提交订单</button>
</div>

<script type="text/javascript" src="resources/jquery/jquery-3.1.1.js"></script>
<script type="text/javascript" src="resources/bootstrap/js/bootstrap.js"></script>
<script>
function submitOrder()
{
document.getElementById("subForm").submit();
}
</script>
</body>
</html>
