<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xmu.mystore.orderindex.tangkai.mapper.UserMapper">
	<resultMap id="UserBaseMap" type="xmu.mystore.orderindex.tangkai.model.User">
		<id column="user_id" property="user_id" jdbcType="INTEGER" />
		<result column="user_name" property="user_name" jdbcType="VARCHAR" />
		<result column="mobile_phone" property="mobile_phone" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="UserAddressMap"
		type="xmu.mystore.orderindex.tangkai.model.UserAddress">
		<id column="user_id" property="user_id" jdbcType="INTEGER" />
		<id column="address_id" property="address_id" jdbcType="INTEGER" />
		<result column="consignee" property="consignee" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="zipcode" property="zipcode" jdbcType="VARCHAR" />
		<result column="detail" property="detail" jdbcType="VARCHAR" />
		<result column="address_default" property="mydefault" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getUserByUserId" parameterType="long" resultMap="UserBaseMap">
		SELECT * FROM 142489_users WHERE user_id=#{user_id};
	</select>

	<select id="getUserAddressesByUserId" parameterType="long"
		resultMap="UserAddressMap">
		SELECT * FROM 142489_user_address WHERE user_id=#{user_id};
	</select>

	<select id="getAddressById" parameterType="long" resultMap="UserAddressMap">
		SELECT * FROM 142489_user_address WHERE address_id=#{address_id};
	</select>

	<select id="getDefaultAddress" parameterType="long" resultMap="UserAddressMap">
		SELECT * FROM 142489_user_address WHERE user_id=#{user_id} AND
		address_default='Y';
	</select>

	<select id="getNotDefaultAddress" parameterType="long"
		resultMap="UserAddressMap">
		SELECT * FROM 142489_user_address WHERE user_id=#{user_id}
		AND address_default='N';
	</select>


	<insert id="addUserAddress" parameterType="xmu.mystore.orderindex.tangkai.model.UserAddress">
		insert into
		142489_user_address
		values(null,#{user_id},#{consignee},#{zipcode},#{telephone},#{country},#{province},#{city},#{district},#{detail},#{mydefault})
	</insert>

	<update id="cancelDefaultAddressByUserID" parameterType="xmu.mystore.orderindex.tangkai.model.UserAddress"> update
		142489_user_address set address_default="N" WHERE user_id=#{user_id}
	</update>

	<update id="setDefaultAddressByUserIDAndAddressID"
		parameterType="xmu.mystore.orderindex.tangkai.model.UserAddress"> update 142489_user_address set address_default="Y"
		WHERE user_id=#{user_id} and address_id=#{address_id} </update>

</mapper>