<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xmu.mall.usercenter.zf.mappers.User_collect_goodsMapper" >
	<resultMap type="xmu.mall.usercenter.zf.model.User_collect_goods" id="collectResult">
		<id column="rec_id" property="rec_id"/>
		<result column="user_id" property="user_id"/>
		<result column="goods_id" property="goods_id"/>
		<result column="add_time" property="add_time"/>
		<association property="goods" javaType="xmu.mystore.ordersmgt.zf.model.Goods" column="goods_id" select="xmu.mystore.ordersmgt.zf.mapper.GoodsMapper.getGoodsById"/>
	</resultMap>
	
	<!-- 获取用户所有收藏 -->
	<select id="getCollectionsByUserId" resultMap="collectResult" parameterType="long">
		SELECT * FROM 142560_user_collect_goods where user_id = #{id} ORDER BY add_time DESC
	</select>
	
	<delete id="deleteById" parameterType="long">
        delete from 142560_user_collect_goods where rec_id=#{cid}
    </delete>
</mapper>