<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xmu.mall.usercenter.zf.mappers.RegionMapper" >
	<select id="getRegionById" resultType="String" parameterType="int">
		SELECT region_name FROM 142560_region WHERE region_id= #{id}
	</select>

	<select id="getRegions" resultType="xmu.mall.usercenter.zf.model.Region" parameterType="int">
		SELECT * FROM 142560_region WHERE parent_id=#{pid}
	</select>
</mapper>